html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%;}
body{overflow-x:hidden;color:#333;font-size:12px;font-family:"Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Verdana,Tahoma,sans-serif;line-height:1;min-width: 1200px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
li{list-style: none;}
a{margin:0;padding:0;background:transparent;color:#333;vertical-align:baseline;text-decoration:none;font-size:100%;font-family:"Open Sans","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,Verdana,Tahoma,sans-serif;}
a:hover,a:focus{color:#dd4d92;text-decoration:none;cursor:pointer;}
img{margin: 0;padding:0;max-width: 100%;height: auto;vertical-align: bottom;}
table{border-spacing:0;/*border-collapse:collapse;*/}
input,select,button{vertical-align:middle;font-family:"PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif"}
.clear{clear: both;}
.fr{float: right;}
.fl{float: left;}
.mart20{margin-top: 20px;}
.marl80{margin-left: 80px;}
.marr100{margin-right: 100px;}
.marr30{margin-right: 30px;}

/* - header - */
.header{border-top: 8px solid #dd4d92;width: 100%;height: 65px;}
.head-con{width: 1200px;height: 65px;margin: 0 auto;position: relative;}
.head-con img{float: left;margin-top: 20px;}
.search{float: right;margin-top: 20px;margin-right: 120px;width: 120px;height: 28px;border: 1px solid #333;border-radius: 5px;}
.search input{border: none;height: 25px;outline: none;width: 63%;margin-left: 10px;float: left;}
.search a{width: 20px;height: 100%;float: right; background: url(../images/search.jpg) no-repeat center center;margin-right: 10px;}
.login{position: absolute;right: 0;top: 0;width: 118px;height: 50px;background: url(../images/login.jpg) center top no-repeat;}
.login-con{background: #dd4d92;width: 111px;margin-left: 4px;padding-bottom: 4px;border-radius: 0 0 4px 4px;line-height: 22px;}
.login a{color: #fff;background: url(../images/xli.jpg) 15px center no-repeat;padding-left:25px;}
.login a:hover{text-decoration: underline;}

#menu{width:1200px;height: 20px;margin: 0 auto;}
.nav{float: right;height: 20px;}
.nav li{float: left;width:110px;;height: 100%;line-height: 20px;text-align: center;border-right: 1px solid #ccc;}
.nav li a{color: #333;font-size: 16px;width: 100%;height: 20px;}
.nav li a:hover{color: #dd4d92;}
.nav li.nav-last{border: none;}
.nav li.nav-first a{padding-left: 20px;}
/*------------*/

.banner{width: 100%;height: 400px;margin-top:20px;}
/* banner-box 焦点图切换*/
#full-screen-slider { width:100%; height:400px; float:left; position:relative}
#slides { display:block; width:100%; height:400px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:18%; top:350px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:16px; height:13px; float:left; margin-left:10px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#dd4d92;}


.shadow{background: url(../images/sh.jpg) repeat-x;width: 100%;height: 57px;}

.container{width: 1200px;height: auto;margin: 0 auto;}
.product{margin-top: 30px;}
.product-l{width: 365px;height: auto;float: left;margin-top: 30px;}
.product-l-u .title{font-size: 20px;color: #dd4d92;line-height: 26px;font-family: "黑体";}
.product-l-u .title span{font-size: 20px;color: #fff;background: #dd4d92;padding: 3px 5px;font-family: Arial;border-radius: 3px;font-size: 15px;margin-left: 10px;}
.product-l-u ul{margin-top: 10px;overflow: hidden;}
.product-l-u ul li{background: url(../images/li.jpg) left center no-repeat;padding-left: 15px;font-size: 13px;color: #333;line-height: 24px;overflow: hidden;}
.product-l-u ul li span{float: left;}
.product-l-u ul li a{font-size: 14px;color: #333;margin-left: 15px;font-family: "黑体";}
.product-l-u ul li a:hover{text-decoration: underline;color: #dd4d92;}

.product-l-d .title{font-size: 20px;color: #dd4d92;line-height: 26px;font-family: "黑体";margin-top: 20px;}
.product-l-d .title span{font-size: 20px;color: #fff;background: #dd4d92;padding: 3px 5px;font-family: Arial;border-radius: 3px;font-size: 15px;margin-left: 10px;}
.product-l-con{color: #333;font-size: 14px;text-indent: 28px;font-family: "黑体";margin-top: 15px;line-height: 150%;}

.product-r{width: 760px;height: auto;float: right;margin-top: 30px;}
.product-r .pic{width: 187px;height: 190px;overflow: hidden;}
.product-r ul li{width: 170px;height: 270px;float: left;margin-left: 20px;background: #e5e5e5;}
.product-r img{  -webkit-transition: all 0.5s ease-in-out;  -moz-transition: all 0.5s ease-in-out;  -o-transition: ll 0.5s ease-in-out;  -ms-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}
.product-r img:hover{transform:scale(1.1);-ms-transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1);-o-transform:scale(1.1); }
.product-r ul .title{width: 170px;height: 80px;background: #767779;color: #fff;display: block;text-align: center;font-size: 20px;font-family: Arial;}
.product-r ul .title p{font-family: "黑体";padding: 20px 0 3px;}
.product-r ul .title-now{background: #dd4d92;}



.activity{margin-top: 85px;}
.activity-l{margin-top: 30px;float: left;width: auto;height: auto;o}
.activity-l ul li{float: left;margin-right: 20px;text-align: center;}
.activity-l ul li a{font-family: "黑体";font-size: 14px;}
.activity-l ul li img{border: 1px solid #fff;margin-bottom: 7px;-webkit-transition: all 0.3s linear;  -moz-transition: all 0.3s linear;  -o-transition: all 0.3s linear;  -ms-transition: all 0.3s linear;  transition: all 0.3s linear;width: 80px;}
.activity-l ul li img:hover{transform:scale(1.1);-ms-transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1);-o-transform:scale(1.1);}

.activity-r{float: right;width: 720px;height: auto;overflow: hidden;margin-right: 2px;margin-top: 30px;	}
.activity-r .product-l-u{width: 270px;}
.activity-r .product-l-u ul li{width: 270px;overflow: hidden;height: 24px;}
.activity-r .product-l-d{width: 430px;}
.activity-r .product-l-d .title{margin-top: 0px;}

.foryou{margin-top: 80px;}
.foryou-con{margin-top: 30px;}
.foryou-con ul li{float: left;margin-left: 30px;text-align: center;overflow: hidden;}
.foryou-con ul li img{margin-bottom: 15px;height: 150px;}
.foryou-con ul li a{font-family: "黑体";font-size: 18px;}
.foryou-con ul li.foryou-1{margin-left: 0px;}
.foryou-con ul li img{-webkit-transition: all 0.3s linear;  -moz-transition: all 0.3s linear;  -o-transition: all 0.3s linear;  -ms-transition: all 0.3s linear;  transition: all 0.3s linear;}
.foryou-con ul li img:hover{transform:scale(1.1);-ms-transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1);-o-transform:scale(1.1);}

/* footer */
.footer{width: 100%;height: 60px;background: #1d1c21;margin-top: 75px;}
.footer-con{margin: 0 auto;width: 1200px;height: auto;}
.footer p{color: #fff;margin-top: 20px;float: left;}
.footer p a{color: #dd4d92;}
.footer ul{float: right;margin-top: 20px;}
.footer ul li{float: left;margin-left: 10px;}

/* 新闻中心 -- body */
.n_banner{background: url(../images/n_banner.jpg) center top no-repeat;width: 100%;height: 350px;margin-top: 20px;}
.side-nav{width: 200px;height: auto;margin-top: -81px;z-index: 22;float: left;}
.side-nav p{width: 198px;height: 78px;text-align: center;font-size: 30px;color: #fff;font-weight: 700;line-height: 78px;background-color: #dd4d92;background: rgba(221,77,146,0.8);border: 1px solid #c92172;}
.side-nav ul{border: 1px solid #c92172;width: 178px;padding: 0 10px;position: relative;}
.side-nav ul li{min-height: 45px;line-height: 40px;border-bottom: 1px solid #dedddb;height: auto;}
.side-nav ul li a:hover{color: #c92172;}
.side-nav ul li a.on{background:url(../images/bg.png) no-repeat;color: #fff;height: 43px;width: 210px;}
.side-nav ul li a{font-size: 16px;color: #333;width: 148px;height: 37px;display: block;padding-left: 50px;margin-left: -20px;margin-top: 7px;}

.main-content{width: 960px;float: right;height: auto;overflow: hidden;}
.main-content .title{height: 25px;line-height: 25px;border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-top: 20px;}
.main-content .title p{float: left;font-size: 25px;color: #dd4d92;}
.main-content .title p span{color: #fff;padding: 2px 10px;margin-left: 10px;background-color: #dd4d92;font-size: 15px;border-radius: 5px;}
.main-content .title .local{float: right;}
.main-content .title .local .current{color: #dd4d92;}
.con-body dl{overflow: hidden;margin-top: 20px;}
.con-body dl dt{float: left;margin-right: 20px;}
.con-body dl img{border: 1px solid #ddd;padding: 5px;width: 180px;height: 130px;}
.con-body dl .s-title{font-size: 14px;overflow: hidden;}
.con-body dl .s-title a{color: #dd4d92;font-weight: 700;float: left;}
.con-body dl .s-title a:hover{text-decoration: underline;}
.con-body dl .s-title span{float: right;color: #999;font-size: 12px;}
.con-body dl .s-con{font-size: 12px;color: #333;margin-top: 10px;line-height: 150%;}


/* 新闻中心 -- 翻页 */
.page{width: auto;height: 19px;margin-top: 40px;float: right;}
.page span{color: #015a9c;font-weight: 700;}
.page a{padding: 2px 8px;color: #666;background-color: #f7f7f7;border: 1px solid #ddd;margin-left: 10px;  -moz-transition: background-color 0.2s ease-out,color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out,color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out,color 0.2s ease-out;
  transition: background-color 0.2s ease-out,color 0.2s ease-out;}
.page a:hover{background-color: #dd4d92;color: #fff;}


/* 新闻中心 -- 详情 */
.con-title{text-align: center;margin-top: 30px;}
.con-title p{font-size: 16px;color: #333;font-weight: 700;margin-bottom: 10px;}
.con-title span{font-size: 12px;color: #999;}
.con-body .con{margin-top: 20px;overflow: hidden;}
.con-body .con p{color: #333;line-height: 150%;}

/* 签约选手 */
.palyer{overflow: hidden;}
.palyer li{float: left;width: 440px;height: 252px;}
.palyer li img{float: left;margin-top: 20px;margin-right: 27px;border: 1px solid #cccccc;}
.player-con{float: left;margin-top: 70px;width: 212px;}
.player-con p{font-size: 16px;line-height: 25px;font-weight: 700;}
.player-con p span{font-size: 20px;font-weight: 400;}

/* 签约选手 --- 详情 */
.p_name{font-size: 20px;color: #333;}
.p_day{font-size: 14px;color: #333;margin-bottom: 10px;}
.p_day a{color: #0054ff;}
.p_base{font-size: 14px;}
.p_base span{font-weight: 700;}
.p_honor{font-size: 16px;color: #dd4d92;margin: 20px 0 10px;}
.p_honor span{background-color: #dd4d92;padding: 2px 5px;border-radius: 4px;margin-left: 10px;color: #fff;font-size: 12px;}
.p_list li{height: 49px;line-height: 49px;font-size: 16px;color: #333;border-bottom: 1px dashed #333;}
.p_list li.p_img{height: 200px;border-bottom: none;width: 340px;margin-bottom: 58px;}

/* 产品列表页 */
.side-nav ul li dl{border-top: 1px solid #ddd;margin-top: 3px;display: none;}
.side-nav ul li dd{height: 45px;border-bottom: 1px solid #ddd;text-align: center;}
.side-nav ul li.last_list{border: none;}
.side-nav ul li dd a{padding-left: 0;width: 100%;height: auto;font-size: 14px;margin-left: 0;}
.product-list{}
.pro_left{float: left;width: 115px;margin-top: 50px;margin-left: 10px;}
.product-list td{border: 1px solid #ddd;width: 33.3333333%;height: 198px;width: 318px;}
.product-list td img{float: right;width: 190px;height: 198px;}
.con p.pro_title{font-size: 18px;color: #dd4d92;}
.con p.pro_info{font-size: 12px;color: #1d1c21;margin-top: 4px;}
.con p.pro_price{font-size: 20px;color: #fff;background-color: #7969a1;border-radius: 0 17px 17px 0;line-height: 34px;width: 90px;margin-top: 15px;}
.con p.pro_price span{font-size: 12px;margin:5px 5px 0 7px;}

/* 产品详情页 */
.product-info{margin-top: 20px;overflow: hidden;}
/* 这是下方的鼠标指针的移动镜头平方米。 */
.cloud-zoom-lens {border: 4px solid #888;margin:-4px;background-color:#fff;cursor:move;width: 50px;height: 50px;}
/* 这是标题文本 */
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
/* 这是缩放窗口。 */
.cloud-zoom-big {overflow:hidden;}
/* 这是加载消息。 */
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}

/* zoom-section */
.zoom-section{clear:both;margin-top:20px;}
*html .zoom-section{display:inline;clear:both;}
.zoom-desc{float:left;margin-left:10px;width:310px;margin-bottom:20px;}
.zoom-small-image{border:4px solid #CCC;float:left;margin-bottom:20px;}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #C00;}


.product-right{color: #333;width: 510px;float: right;height: auto;overflow: hidden;}
.product-right p{color: #333;font-size: 14px;}
.product-right .pr_title{font-size: 20px;font-weight: 700;}
.pr_info{margin-top: 10px;}
.pr_info td{height: 40px;font-size: 14px;vertical-align: middle;color: #333;}
.product-right .pr_price{font-size: 22px;color: #c40000;}
.product-right .pr_l_x{padding-top: 18px;float: left;width: 80px;}
.pr_price span{font-size: 32px;margin-left: 5px;}
.small_pr img{border: 1px solid #ddd;margin-right: 5px;cursor: pointer;}

.product-intr{text-align: center;margin-top: 20px;}

/* 媒体集锦 */
.media{overflow: hidden;}
.media li{overflow: hidden;margin-bottom: 20px;}
.con p.media-date{width: 70px;height: 36px;float: left;color: #999999;border: 1px solid #999999;border-bottom-width: 3px;font-size: 16px;font-family: Arial;padding-top: 12px;font-style: italic;padding-left: 10px;margin-right: 30px;}
.con p.media-date span{font-size: 30px;}
.media-con{float: left;width: 845px;height: auto;overflow: hidden;}
.m_title{font-size: 14px;color: #333;font-weight: 700;}
.m_title:hover{text-decoration: underline;color: #dd4d92;}
.con p.m_con{color: #333;font-size: 12px;margin-top: 10px;}

/* 扫一扫 */
.con p.ewm{text-align: center;}
.con p.ewm img{border: 1px solid #000;padding: 5px;margin-top: 20px;}
.con p.ewm_title{margin-top: 10px;color: #dd4d92;font-size: 16px;text-align: center;font-weight: 700;}
.con p.ewm_con{color: #333;font-size: 16px;text-align: center;margin-bottom: 200px;}

/* 活动赛事预告 */
.foreshow-l{float: left;width: 400px;height: auto;}
.foreshow-l img{margin-top: 20px;}
.foreshow-r{float: left;overflow: hidden;height: auto;margin-left: 20px;padding-top: 20px;width: 540px;}
.foreshow-r p{color: #333;}
.foreshow-r li{overflow: hidden;margin-bottom: 20px;}
.show_title{overflow: hidden;margin-bottom: 5px;}
.show_title a{float: left;color: #333;font-size: 14px;font-weight: 700;padding-left: 15px;background:url(../images/li.jpg) no-repeat left center;}
.show_title a:hover{text-decoration: underline;color: #dd4d92;}
.show_title span{float: right;}

/* 每月期刊 */
.magazine{width: 990px;}
.magazine li{width: 300px;margin-right: 30px;margin-top: 20px;float: left;}
.magazine li p{margin-top: 5px;border-left: 4px solid #333;padding-left: 10px;line-height: 20px;}

/* 防伪查询 */
.query{width: 860px;margin: 0 auto 30px;border-bottom: 1px solid #ddd;height: auto;overflow: hidden;}
.query_l{width: 398px;height: 42px;border: 1px solid #dd4d92;border-radius: 21px;margin-top: 90px;margin-left: 100px;;margin-bottom: 40px;float: left;}
.query_l input{width: 270px;line-height: 25px;font-size: 14px;float: left;border: none;margin-top: 10px;margin-left: 10px;padding: 0 10px;outline: none;}
.query_l a{color: #dd4d92;float: right;display: block;width: 86px;height: 36px;margin-top: 3px;border-radius: 18px;color: #fff;margin-right: 3px;background: url(../images/q_s.jpg) no-repeat 10px center #dd4d92;text-indent: 37px;font-size: 16px;line-height: 36px;}
.query_img{float: right;margin-top: 80px;margin-right: 50px;}
.query_ask{font-size: 15px;color: #1e1e1e;margin-left: 50px;}
.query_ans{font-size: 16px;color: #dd4d92;margin: 30px 0 200px 80px;}

/* 营销网络-地图 */
.pos_relative{position: relative;}
#mapbox { width: 600px; height: 500px; background-image: url("../img/map1.png");  margin-top: 20px;}
#mapbox .mapline { display: block; width: inherit; height: inherit; position: absolute; left: 0px; top: 0px; background-image: url("../img/map2.png"); z-index: 1; background-position: 0px 0px; }
#mapbox .mappart { display: block; width: inherit; height: inherit; position: absolute; left: 0px; top: 0px; z-index: 0; }
#mapbox .mappart .part { position: absolute; opacity: 0; -webkit-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; }
#mapbox .mappart .part1 { top: 178px; left: 429px; }
#mapbox .mappart .part2 { top: 189px; left: 444px; }
#mapbox .mappart .part3 { top: 304px; left: 500px; }
#mapbox .mappart .part4 { top: 306px; left: 320px; }
#mapbox .mappart .part5 { top: 156px; left: 411px; }
#mapbox .mappart .part6 { top: 184px; left: 377px; }
#mapbox .mappart .part7 { top: 137px; left: 463px; }
#mapbox .mappart .part8 { top: 98px; left: 484px; }
#mapbox .mappart .part9 { top: 0px; left: 470px; }
#mapbox .mappart .part10 { top: 259px; left: 443px; }
#mapbox .mappart .part11 { top: 314px; left: 468px; }
#mapbox .mappart .part12 { top: 268px; left: 429px; }
#mapbox .mappart .part13 { top: 355px; left: 446px; }
#mapbox .mappart .part14 { top: 332px; left: 417px; }
#mapbox .mappart .part15 { top: 217px; left: 426px; }
#mapbox .mappart .part16 { top: 246px; left: 378px; }
#mapbox .mappart .part17 { top: 291px; left: 355px; }
#mapbox .mappart .part18 { top: 334px; left: 360px; }
#mapbox .mappart .part19 { top: 398px; left: 369px; }
#mapbox .mappart .part20 { top: 473px; left: 355px; }
#mapbox .mappart .part21 { top: 268px; left: 231px; }
#mapbox .mappart .part22 { top: 347px; left: 296px; }
#mapbox .mappart .part23 { top: 340px; left: 218px; }
#mapbox .mappart .part24 { top: 201px; left: 323px; }
#mapbox .mappart .part25 { top: 147px; left: 191px; }
#mapbox .mappart .part26 { top: 192px; left: 149px; }
#mapbox .mappart .part27 { top: 393px; left: 500px; }
#mapbox .mappart .part28 { top: 5px; left: 246px; }
#mapbox .mappart .part29 { top: 386px; left: 305px; }
#mapbox .mappart .part30 { top: 204px; left: 312px; }
#mapbox .mappart .part31 { top: 43px; left: 1px; }
#mapbox .mappart .part32 { top: 211px; left: 21px; }
#mapbox .maphover { display: block; width: inherit; height: inherit; position: absolute; left: 0px; top: 0px; z-index: 2; }
#mapbox a { outline: none; }
#mapbox .maphoverpart area:focus { outline: none; }
#mapbox .maplistbox { display: block; width: 325px; height: auto; position: absolute; z-index: 99; font-size: 14px; }
#mapbox .maplistbox .maplist { display: block; width: 73px; height: 28px; border: 1px solid #dd4d92; background-image: url("../images/btnbg.png"); background-repeat: repeat-x; float: left; margin: 0 2px 5px 3px; border-radius: 3px; cursor: pointer; background-position: 0px 0px; }
#mapbox .maplistbox .maplist .listconcent { display: block; width: 73px; height: 28px; background-image: url("../images/btnbg.png"); background-repeat: no-repeat; background-position: 5px -40px; text-align: center; line-height: 20px; color: #1e1e1e; line-height: 28px;}
#mapbox .maplistbox .maplist:hover .listconcent { color: #e8c438; background-position: 5px -20px; }
#mapbox .maplistbox .maplisthover { background-color: #f6c5dd; }
#mapbox .maplistbox .maplisthover .listconcent { color: #dc0067; background-position: 5px -20px; }
#mapbox .maplistbox:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#mapbox .maplistbox1 { right: 0px; top: 222px; }
.mappageh2{text-align: center;font-size: 20px;font-family: '微软雅黑';font-weight: normal;padding: 20px 0 10px 0;}
.hudie{background: url(../images/query.jpg) no-repeat;width: 210px;height: 50px;position: absolute;right: 50px;top: 140px;}

/* 营销网络 */
.net_map{float: left;margin-top: 20px;}
.net_map p{color: #333333;font-size: 12px;line-height: 170%;}
.net_map .net_map_title{font-size: 14px;font-weight: 700;}
.net_map .net_map_num span{padding-left: 30px;}
.net_map img{margin-top: 15px;border: 1px solid #ccc;}

/* 邮件订阅 */
.subscribe{color: #333;font-size: 16px;padding-left: 30px;padding-bottom: 200px;}
.sub_title{margin: 10px 0 75px;}
.sub_form{overflow: hidden;margin-bottom: 20px;line-height: 25px;}
.sub_form label{width: 120px;text-align: right;display: block;float: left;}
.email_input{width: 268px;height: 23px;padding: 0 8px;}
.sub_select{margin-left: 20px;}
.sub_btn{width: 74px;height: 24px;border-radius: 12px;background-color: #aaaaaa;border: none;color: #fff;margin-top: 10px;}
.sub_btn1{margin-left: 120px;margin-right: 30px;background-color: #dd4d92;}

/* 智能选拍-查看结果 */
.con p.capacity_title{width: 960px;height: 40px;background-color: #000000;color: #fff;font-size: 20px;text-indent: 38px;line-height: 40px;border-radius: 10px 10px 0 0;}
.con p.capacity_title_x{width: 960px;height: 40px;line-height: 40px;background-color: #dd4d92;color: #fff;text-indent: 38px;font-size: 20px;}
.capacity_con{min-height: 475px;border: 1px solid #dd4d92;border-radius: 0 0 10px 10px;width: 958px;}

.capacity_con_u{overflow: hidden;padding-top: 30px}
.capacity_con_l{float: left;width: 242px;padding-left: 38px;}
.capacity_con_l img{border: 1px solid #ccc;margin-bottom: 5px;}
.capacity_con_r{float: left;width: 600px;}
p.capacity_con_t{font-size: 18px;padding-left: 10px;border-left: 5px solid #dd4d92;}
p.capacity_con_info{border-top: 1px dashed #aaa;padding-top: 5px;margin-top: 3px;font-size: 14px;text-indent: 28px;}
.capacity_con_r a{width: 170px;height: 35px;text-align: center;color: #fff;background-color: #dd4d92;line-height: 35px;display: block;margin-top: 22px;font-size: 18px;}

.capacity_con_d{margin-top: 30px;padding: 0 38px;}

/* 智能选拍 */
.select_pp_l{float: left;width: 448px;margin-top: 20px;}
.select_pp{overflow: hidden;border: 1px solid #dd4d92;border-radius: 10px;margin-bottom: 10px;}
.con p.select_pp_title{width: 100%;line-height: 40px;background-color: #dd4d92;color: #fff;height: 40px;text-indent: 20px;font-size: 18px;}
.select_pp_con{padding: 20px 0 20px 65px;overflow: hidden;}
.con p.select_pp_info{font-size: 16px;color: #333;margin-bottom: 15px;background:url(../images/d_line.jpg) no-repeat left center;}
.con p.select_pp_info span{margin-left: 138px;}
.select_pp_left{width: 170px;float: left;}
.select_pp_right{float: left;}
.select_pro{color: #333;font-size: 16px;margin: 10px 0;display: block;float: left;}
.select_pro:hover,.select_on{color: #dd4d92;}

.select_pp_r{width: 448px;float: right;margin-top: 20px;}

.query_fruit{width: 250px;height: 60px;display: block;background-color: #000;color: #fff;text-align: center;line-height: 60px;font-size: 26px;border-radius: 10px;margin-top: 30px;}



/*选拍最后滑动条*/
 .defaultbar {margin-top: 10px;  height: 6px;  background-color: #999999;position: relative;} 
 .defaultbar .jquery-completed {  height: 6px;  background-color: #dd4d92;top: 1px;left: 1px;position: absolute;} 
 .defaultbar .jquery-jslider {  height: 25px; top: -6px;display: block;cursor: pointer; position: absolute;background: url(../images/select.png) no-repeat;width: 15px;} 
fieldset {padding: 0 10px;float: left;margin: 0 0 10px;}  
fieldset legend {background-color: #FFF5FA; border: 1px solid #F8B3D0; padding: 5px 10px;}
#slidercontainer1{margin-left: 60px;}
#slidercontainer2{margin-left: 60px;}
#slidercontainer3{margin-left: 60px;}
#slidercontainer4{margin-left: 60px;}
.con p.select_name{float: left;width: 60px;line-height: 25px;font-size: 16px;color: #333;}
.con p.select_sx{margin-top: 10px;padding-left: 60px;font-size: 14px;}
.con p.select_sx span{float: right;}

